  <div class="jumbo_parent">
    <div class="container-fluid splash">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Finding cool projects shouldn't be hard. Github Discovery allows you to browse the worlds largest source, Github, with ease. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-default btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row descriptions">
      <div class="col-sm-4">
        <h2>Search</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Trending</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-sm-4">
        <h2>Browse</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <div class="discovery">
      <h1>Trending Projects</h1>

      <div class="row selections">
        <div class="col-md-1 col-sm-2 col-xs-2 col-md-offset-5 col-sm-offset-3 col-xs-offset-0 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[0].html_url %>" target="_blank" title="<%= @trending_projects[0].project_path %>:  <%= @trending_projects[0].description %>">
              <img src="<%= @trending_projects[0].avatar_url %>" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-sm-offset-2 col-md-offset-0 col-xs-2 col-xs-offset-8 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[13].html_url %>" target="_blank" title="<%= @trending_projects[13].project_path %>:  <%= @trending_projects[13].description %>">
              <img src="<%= @trending_projects[13].avatar_url %>" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="row selections">
        <div class="col-md-1 col-sm-2 col-xs-2 col-md-offset-4 col-sm-offset-1 col-xs-offset-0 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[1].html_url %>" target="_blank" title="<%= @trending_projects[1].project_path %>:  <%= @trending_projects[1].description %>">
              <img src="<%= @trending_projects[1].avatar_url %>" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-md-offset-0 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[2].html_url %>" target="_blank" title="<%= @trending_projects[2].project_path %>:  <%= @trending_projects[2].description %>">
              <img src="<%= @trending_projects[2].avatar_url %>" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-sm-offset-2 col-md-offset-0 col-xs-2 col-xs-offset-4 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[10].html_url %>" target="_blank" title="<%= @trending_projects[10].project_path %>:  <%= @trending_projects[10].description %>">
              <img src="<%= @trending_projects[10].avatar_url %>" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-md-offset-0 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[14].html_url %>" target="_blank" title="<%= @trending_projects[14].project_path %>:  <%= @trending_projects[14].description %>">
              <img src="<%= @trending_projects[14].avatar_url %>" alt="">
            </a>
          </div>
        </div>
      </div>
      
      <div class="row selections">
        <div class="col-md-1 col-sm-2 col-xs-2 col-md-offset-3 col-sm-offset-0 col-xs-offset-0 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[3].html_url %>" target="_blank" title="<%= @trending_projects[3].project_path %>:  <%= @trending_projects[3].description %>">
              <img src="<%= @trending_projects[3].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[4].html_url %>" target="_blank" title="<%= @trending_projects[4].project_path %>:  <%= @trending_projects[4].description %>">
              <img src="<%= @trending_projects[4].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[5].html_url %>" target="_blank" title="<%= @trending_projects[5].project_path %>:  <%= @trending_projects[5].description %>">
              <img src="<%= @trending_projects[5].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[11].html_url %>" target="_blank" title="<%= @trending_projects[11].project_path %>:  <%= @trending_projects[11].description %>">
              <img src="<%= @trending_projects[11].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[12].html_url %>" target="_blank" title="<%= @trending_projects[12].project_path %>:  <%= @trending_projects[12].description %>">
              <img src="<%= @trending_projects[12].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-md-offset-0 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[15].html_url %>" target="_blank" title="<%= @trending_projects[15].project_path %>:  <%= @trending_projects[15].description %>">
              <img src="<%= @trending_projects[15].avatar_url %>" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="row selections">
        <div class="col-md-1 col-sm-2 col-xs-2 col-md-offset-4 col-sm-offset-1 col-xs-offset-0 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[6].html_url %>" target="_blank" title="<%= @trending_projects[6].project_path %>:  <%= @trending_projects[6].description %>">
              <img src="<%= @trending_projects[6].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[7].html_url %>" target="_blank" title="<%= @trending_projects[7].project_path %>:  <%= @trending_projects[7].description %>">
              <img src="<%= @trending_projects[7].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-sm-offset-2 col-md-offset-0 col-xs-2 col-xs-offset-4 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[9].html_url %>" target="_blank" title="<%= @trending_projects[9].project_path %>:  <%= @trending_projects[9].description %>">
              <img src="<%= @trending_projects[9].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[16].html_url %>" target="_blank" title="<%= @trending_projects[16].project_path %>:  <%= @trending_projects[16].description %>">
              <img src="<%= @trending_projects[16].avatar_url %>" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="row selections">
        <div class="col-md-1 col-sm-2 col-xs-2 col-md-offset-5 col-sm-offset-3 col-xs-offset-0 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[8].html_url %>" target="_blank" title="<%= @trending_projects[8].project_path %>:  <%= @trending_projects[8].description %>">
              <img src="<%= @trending_projects[8].avatar_url %>" alt="">
          </a>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-sm-offset-2  col-md-offset-0 col-xs-2 col-xs-offset-8 trendy_project">
          <div class="selection">
            <a href="<%= @trending_projects[17].html_url %>" target="_blank" title="<%= @trending_projects[17].project_path %>:  <%= @trending_projects[17].description %>">
              <img src="<%= @trending_projects[17].avatar_url %>" alt="">
            </a>
          </div>
        </div>
      </div>
    </div><!-- /discovery -->

    <div class="categories">
      <h1>Categories</h1>
      <div class="row">
        
        <a href="features">
          <div class="col-md-4 col-sm-12 category featured_category">
            <div class="cover">Featured</div>
          </div>
        </a>
        <a href="data_visualization">
          <div class="col-md-4 col-sm-12 category data_category">
            <div class="cover">Data Visualization</div>
          </div>
        </a>
        <a href="games">
          <div class="col-md-4 col-sm-12 category games_category">
            <div class="cover">Games</div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="productivity">
          <div class="col-md-4 col-sm-12 category productivity_category">
            <div class="cover">Productivity</div>
          </div>
        </a>
        <a href="music">
          <div class="col-md-4 col-sm-12 category music_category">
            <div class="cover">Music</div>
          </div>
        </a>
        <a href="design">
          <div class="col-md-4 col-sm-12 category design_category">
            <div class="cover">Design</div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="database">
          <div class="col-md-4 col-sm-12 category db_category">
            <div class="cover">Database</div>
          </div>
        </a>
        <a href="package_managers">
          <div class="col-md-4 col-sm-12 category package_category">
            <div class="cover">Package Managers</div>
          </div>
        </a>
        <a href="security">
          <div class="col-md-4 col-sm-12 category security_category">
            <div class="cover">Security</div>
          </div>
        </a>
      </div>
    </div>
  </div> <!-- /container -->
  <script>switchNavBar();</script>